<div ng-controller="ContatosController">
	
	<div class="col-md-12">
		<img src="../images/logotype.svg" alt="brand-icon" width="300" 
		style="margin-top:20px; margin-bottom:20px;" 
		class="img-responsive">
	</div>
	<div class="row">
		<div class="col-md-5">
			<div class="col-sm-6">
				<a class="btn btn-primary" ng-href="#/contato">
					<span class="glyphicon glyphicon-plus"></span> Novo
				</a>
			</div>
			<div class="col-sm-6">
				<input type="search" ng-model="filtro" placeholder="Parte do nome" class="form-control input-sm">
			</div>
		</div>	
	</div>
	
		<div class="contacts">
			<p ng-show="contatos.length">CONTATOS CADASTRADOS: {{contatos.length}} </p>
			<p ng-hide="contatos.length">
				Não há contatos cadastrados
			</p>
			<p ng-show="mensagem.texto">
				{{mensagem.texto}}
			</p>
		</div>
	
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>NOME</th>
					<th>EMAIL</th>
					<th class="text-center">Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="contato in contatos | filter:filtro">
					<td><a ng-href="#/contato/{{contato._id}}">{{contato.nome}}</a></td>
					<td>{{contato.email}}</td>
				<!-- button delete-->
					<td class="text-center">
						<button class="btn btn-warning" ng-click="remove(contato)">
								Remover
						</button>
					</td>
				<!-- ./button delete-->
				</tr>
			</tbody>
		</table>
	</div>
</div>		