<section ng-controller="ContatoController">
	<div class="row">
		<div class="col-md-10">
			<div class="col-sm-10">
				<h1 class="text-center">Contato</h1>
				<p ng-show="mensagem.texto">
					{{mensagem.texto}}
				</p>
				<form role="form" ng-submit="salva()">
					<legend>Dados do contato</legend>
					<div class="form-group">
						<label for="nome">Nome completo</label>
						<input type="text" class="form-control" name="nome" required id="nome" placeholder="Nome completo" ng-model="contato.nome">
					</div>
					<div class="form-group">
						<label for="email"> Email</label>
						<input type="text" class="form-control" name="email" id="email" required placeholder="Insira seu email corretamente"
						 ng-model="contato.email">
					</div>
					<div class="form-group">
						<label for ="emergencia">Emergencia</label>
						<select class ="form-control input-sm"  
						ng-model = "contato.emergencia" 
						ng-options= "contato._id as contato.nome for contato in contatos" 
						id = "emergencia">
							
						</select>
					</div>
					<div>
						<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Enviar</button>
						<a href="#/" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Voltar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>