<!-- app/views/404.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Opps</title>
	<!-- build:css stylesheets/css/404.min.css -->
	<link rel="stylesheet" href="stylesheets/css/styles.css">
	<!-- endbuild -->
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Página não encontrada</h1>
			<a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> 
			 Voltar para a página principal</a>
		</div>
	</div>
</body>
</html>