<!-- app/views/index.ejs -->
<!DOCTYPE html>
<html lang="pt-br" ng-app="contatooh">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<meta author="Caio Cutrim">
	<title>Home</title>
	<!-- build:css stylesheets/css/index.min.css -->
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
	<!-- endbuild -->
</head>
<body class="container">
<!-- Usuario -->
	<div class="text-center">
		Logado como:<span id="usuario-logado">
			<%=usuarioLogado  %>
		</span>
			 <a href="/logout"><span class="glyphicon glyphicon-log-out"></span>logout</a>
	</div>
<!-- ./Usuario -->
	<ng-view></ng-view>

	<!-- build:js javascripts/main.min.js -->
	<script src="libs/angular/angular.min.js"></script>
	<script src="libs/angular-route/angular-route.js"></script>
	<script src="libs/angular-resource/angular-resource.js"></script>
	<script src="js/main.js"></script>
	<script src="js/services/ContatoServices.js"></script>
	<script src="js/services/InterceptorServices.js"></script>
	<script src="js/controllers/ContatosController.js"></script>
	<script src="js/controllers/ContatoController.js"></script>
	<!-- endbuild -->

</body>
</html>
<!-- ./app/views/index.ejs -->
